<a href="https://colab.research.google.com/github/pagssud/intro-programming-workshop/blob/main/IntroPythonWorkshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Brief Introduction

Python is a programming language used to tell a compute how to do things. It takes input from the user and converts it to "computer language" such that these user-provided commands can be executed. Some advantages to python over other languages are it's both easy to use and well documented.

One of the hardest parts about python (or programming in any language really!) is setting up your environment such that the software works and can "talk" to your computer and other libraries necessary to run your code. Luckily Google offers a free python notebook interface known as [Google Colab](https://colab.research.google.com/) which requires no setup other than a Google account. These notebooks are saved directly in your Google Drive and we will use this method of programming for the introduciton workshop. This eliminates the hassle of setting up python environments in different operating systems.

# Basics

Python has many uses, one of which is just a simple calculator.

In [7]:
2 + 2

4

Another use is printing output to the notebook/terminal through use of the `print()` function. This function is a great way to test and debug your programs.

In [8]:
print("Hello World!")

Hello World!

In python notebooks, multiple lines of code can be written in the code boxes and then executed at once. This allows you to perform multiple calculations in one go. Although, only the last command will be printed to the notebook.

In [9]:
4 - 3
5 * 10

50

If you want to suppress all outputs then use a semicolon, `;`, at the end of the command.

In [10]:
4 - 3
5 * 10;

Python also follows the order of operations (PEDMAS)

In [29]:
(3 + 2) * 4

20

In python, raising a value to an exponent is done using `**`.

In [11]:
2 ** 3

8

We can also define "variables" in python which are saved in the computers memory and can be accessed for later use in your code. Below `x` is considered a variable.

In [12]:
x = 3
2 ** x

8

Although you must be careful with variable definitions and the "scope" of your variables. Scope means the area of the code where your variables are accessible, but this is an advanced topic and will not be discussed until later.

In [20]:
a = 4
b = a
print("b =", b, "   a =", a)

a = 6
print("b =", b, "   a =", a)

b = 4    a = 4
b = 4    a = 6

Here even though `b` was defined as `a` changing the value of `a` did not change `b`. This is because in the computer memory `b` was stored as the VALUE of `a` but NOT as the variable `a` itself.

This can be confusing at first but with time it will become easier to understand :)

**NOTE:** Defining variables like `b = a` and then changing the value of `a` later in the code is poor programming and should not be done!

Division in python is also possible, with two different kinds. There is regular division (`/`) and division which discards any portion of the answer after the decimal (`//`). This second type is known as floor division.

In [27]:
print(9 / 4)
print(9 // 4)

2.25
2

Note that regular and floor division return the same value if there is no remainder, although there are very slight differences in the output which are extremely important for python and programming in general...

In [30]:
print(9 / 3)
print(9 // 3)

3.0
3

Why are there differences here? Because these two outputs are two different data types.

# Data Types

In programming, there are many different data types including integers, floats, doubles, and booleans just to name a few. Each programming language has their own subtleties about different data types, including data types which may only exist in that language.

Here we will discuss the python data types of integers (`int`), single-precision floats (`float32`), double-precision floats (`float64`), strings (`str`), booleans (`bool`), and complex numbers (`complex`).

Let's investigate the differences in the output from regular and floor division. We will use python's `type()` function to return the data type of the variables.

In [40]:
num = 9
denom = 3

regOutput = num / denom
floorOutput = num // denom

print(regOutput, " type: ", type(regOutput) )
print(floorOutput, "   type: ", type(floorOutput) )

3.0  type:  <class 'float'>
3    type:  <class 'int'>

The data type returned for the regular divison is just a `float` so what is the difference between single-precision floats and double-precision floats?

Single-precision floats contain 7 decimal digits of precision and take up 32 bits of storage in the computer memory (hence the `32` in `float32`). Double-precision floats contain 15 decimal digits of precision and take up 64 bits of storage.

Double-precision floats require more computer memory to be used during execution of your code. Therefore, the user must be careful when working with large sets of double-precision data as this can slow down your code execution. 

Due to the intrinsic precision of floats you have to be careful of computer round-off errors.

**NOTE:** It is good practice to add comments to your code so that you know what each part does when you come back in a few years or if your code is being read by someone else. Your future self with thank you!

To add comments, just put a hashtag (`#`) at the beginning of the line. Commented lines will not be executed when the code is run.

In [44]:
# Define a double-precision float
value = 2.000000000000009

# Now add a very very small number
newValue = value + 0.00000000000000005

print(value)
print(newValue)

2.000000000000009
2.000000000000009

Adding the very very small number did nothing due to the intrinsic precision of the computer. The topic of round-off error and potential ways to avoid problems from this subtlety will be covered in more detail in PHYS660.

Define `int` data types by just defining your variable as a number. Define `float` data types by inserting a `.` after the number.

In [45]:
# Define an int
c = 7

# Define a float
d = 7.

# Print the data types to see explicitly
print( type(c) )
print( type(d) )

<class 'int'>
<class 'float'>

`str` data types are defined by placing any collection of text, numbers, or words within either single or double quotes (`''` or `""`).

In [46]:
string1 = 'This is a string.'
string2 = "This is also a string!"

# Strings can also contain numbers
string3 = "A string with numbers3333."

# Strings can just be numbers themselves
string4 = "3"

# Check these are all strings
print( type(string1), type(string2), type(string3), type(string4) )

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

You can also convert between `int`, `float`, and `str` data types if the value can be represented as another data type. Conversions are made using the `int()`, `float()`, and `str()` python functions respectively.

In [50]:
# Define an integer, float, and a string
intVal = 10
floatVal = 33.06
strVal = "6.5"

# Convert integer to string
intToStr = str(intVal)

# Convert float to integer (will cut off decimal points)
floatToInt = int(floatVal)

# Convert string to float
strToFloat = float(strVal)

# Output original and converted values
print("Original (int):   ", intVal, "     Converted to string: ", intToStr)
print("Original (float): ", floatVal, "  Converted to integer: ", floatToInt)
print("Original (str):   ", strVal, "    Converted to float: ", strToFloat)

Original (int):    10      Converted to string:  10
Original (float):  33.06   Converted to integer:  33
Original (str):    6.5     Converted to float:  6.5

If we try to convert a `str` of words to a `float` or `int` then python will error because this is not possible.

In [51]:
name = "Brandon"

convertName = float(name)

ValueError: ignored

# NOTES

First start out with basic arithmetic (add, subtract, exponents, etc.)

Then show that 11 / 2 for example isn't 5.5 but 11. / 2 is... why? Data types!

Introduce data types and the like (ints, floats, doubles, strings, booleans, ...)

Then introduce print functions and string manipulation when discussin strings, then conditional statements with the booleans and such.

Discuss lists and list manipulation, along with for loops.

Discuss both user defined and built in functions.

Introduce different packages (numpy, scipy, etc.)

Introduce matplotlib package and plotting

Finish with having the students estimate pi via Monte Carlo methods (i.e. random point in a box, seeing which ones land in a circle and which ones land outside -> see inclasslab_Oct1.ipynb on Google colab, in my personal drive at the moment)

Stress that the major three things in coding are 1. That is works/you get the right answer. 2. Readability (white space and commenting). 3. Efficiency

Still need to look over python notebooks for the PHYS660 notebooks and see if there is anything I should definitely go over...