<a href="https://colab.research.google.com/github/pagssud/intro-programming-workshop/blob/main/IntroPythonWorkshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Brief Introduction**

Python is a programming language used to tell a computer how to do things. It takes input from the user and converts it to "computer language" such that these user-provided commands can be executed. Some advantages to python over other languages are it's both easy to use and well documented.

One of the hardest parts about python (or programming in any language really!) is setting up your environment such that the software can "talk" to your computer and other libraries necessary to run your code. Luckily Google offers a free python notebook interface known as [Google Colab](https://colab.research.google.com/) which requires no setup other than a Google account. These notebooks are saved directly in your Google Drive and we will use this method of programming for the introductory workshop. This eliminates the hassle of setting up python environments in different operating systems.

# **Basics**

Python has many uses, one of which is just a simple calculator.

**NOTE:** Since we are using a notebook interface there are different code "cells" which need to be executed in order for the code to run. To run a code cell, click on that cell and press `Shift + Enter`. Or you can click on the cell and select the `Runtime` menu option at the top of the page, which will open a selection of options to choose from.

In [1]:
2 + 2

4

Another use is printing output to the notebook/terminal through use of the `print()` function. This function is a great way to test and debug your programs.

In [2]:
print("Hello World!")

Hello World!

In python notebooks, multiple lines of code can be written in the code boxes and then executed at once. This allows you to perform multiple calculations in one go. Although, only the last command will be printed to the notebook.

In [3]:
4 - 3
5 * 10

50

If you want to suppress all outputs then use a semicolon, `;`, at the end of the command.

In [4]:
4 - 3
5 * 10;

Python also follows the order of operations (PEDMAS)

In [5]:
(3 + 2) * 4

20

In python, raising a value to an exponent is done using `**`.

In [6]:
2 ** 3

8

We can also define "variables" in python which are saved in the computers memory and can be accessed for later use in your code. Below `x` is considered a variable.

In [7]:
x = 3
2 ** x

8

Although you must be careful with variable definitions and the "scope" of your variables. Scope means the area of the code where your variables are accessible, but this is an advanced topic and will not be discussed until later.

In [8]:
a = 4
b = a
print("b =", b, "   a =", a)

a = 6
print("b =", b, "   a =", a)

b = 4    a = 4
b = 4    a = 6

Here even though `b` was defined as `a` changing the value of `a` did not change `b`. This is because in the computer memory `b` was stored as the VALUE of `a` but NOT as the variable `a` itself.

This can be confusing at first but with time it will become easier to understand :)

**NOTE:** Defining variables like `b = a` and then changing the value of `a` later in the code is poor programming and should not be done!

Division in python is also possible, with two different kinds. There is regular division (`/`) and division which discards any portion of the answer after the decimal (`//`). This second type is known as floor division.

In [9]:
print(9 / 4)
print(9 // 4)

2.25
2

Note that regular and floor division return the same value if there is no remainder, although there are very slight differences in the output which are extremely important for python and programming in general...

In [10]:
print(9 / 3)
print(9 // 3)

3.0
3

Why are there differences here? Because these two outputs are two different data types.

# **Data Types**

In programming, there are many different data types including integers, floats, doubles, and booleans just to name a few. Each programming language has their own subtleties about different data types, including data types which may only exist in that language.

Here we will discuss the python data types of integers (`int`), single-precision floats (`float32`), double-precision floats (`float64`), strings (`str`), complex numbers (`complex`), and booleans (`bool`).

Let's investigate the differences in the output from regular and floor division. We will use python's `type()` function to return the data type of the variables.

In [11]:
num = 9
denom = 3

regOutput = num / denom
floorOutput = num // denom

print(regOutput, " type: ", type(regOutput) )
print(floorOutput, "   type: ", type(floorOutput) )

3.0  type:  <class 'float'>
3    type:  <class 'int'>

The data type returned for the regular divison is just labeled as a `float`. So what is the difference between single-precision floats and double-precision floats?

Single-precision floats contain 7 decimal digits of precision and take up 32 bits of storage in the computer memory (hence the `32` in `float32`). Double-precision floats contain 15 decimal digits of precision and take up 64 bits of storage.

Double-precision floats require more computer memory to be used during execution of your code. Therefore, the user must be careful when working with large sets of double-precision data as this can slow down your code execution. 

Due to the intrinsic precision of floats you have to be careful of computer round-off errors.

**NOTE:** It is good practice to add comments to your code so that you know what each part does. This is especially important when you come back to the code in a few months or if your code is being read by someone else. Your future self and others will thank you!

To add comments, just put a hashtag (`#`) at the beginning of the line. Commented lines will not be executed when the code is run.

In [12]:
# Define a double-precision float
value = 2.000000000000007

# Now add a very very small number
newValue = value + 0.00000000000000005

print(value)
print(newValue)

2.000000000000007
2.000000000000007

Adding the very very small number did nothing due to the intrinsic precision of the computer. The topic of round-off error and potential ways to avoid problems from this subtlety will be covered in more detail in PHYS660.

Define `int` data types by just defining your variable as a number. Define `float` data types by inserting a `.` after the number.

In [13]:
# Define an int
c = 7

# Define a float
d = 7.

# Print the data types to see explicitly
print( type(c) )
print( type(d) )

<class 'int'>
<class 'float'>

`str` data types are defined by placing any collection of text, numbers, or words within either single or double quotes (`''` or `""`).

In [14]:
string1 = 'This is a string.'
string2 = "This is also a string!"

# Strings can also contain numbers
string3 = "A str1ng w1th numb3r5."

# Strings can just be numbers themselves
string4 = "3"

# Check these are all strings
print( type(string1), type(string2), type(string3), type(string4) )

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

`str` dat types can also be defined on multiple lines through use of the `\` character

In [15]:
# Define a string on multiple lines
multiLineString = 'I can define' \
' a string on' \
' multiple lines!'

print(multiLineString)

I can define a string on multiple lines!

You can also convert between `int`, `float`, and `str` data types if the value can be represented as another data type. Conversions are made using the `int()`, `float()`, and `str()` python functions respectively.

In [16]:
# Define an integer, float, and a string
intVal = 10
floatVal = 33.06
strVal = "6.5"

# Convert integer to string
intToStr = str(intVal)

# Convert float to integer (will cut off decimal points)
floatToInt = int(floatVal)

# Convert string to float
strToFloat = float(strVal)

# Output original and converted values
print("Original (int):   ", intVal, "     Converted to string: ", intToStr)
print("Original (float): ", floatVal, "  Converted to integer: ", floatToInt)
print("Original (str):   ", strVal, "    Converted to float: ", strToFloat)

Original (int):    10      Converted to string:  10
Original (float):  33.06   Converted to integer:  33
Original (str):    6.5     Converted to float:  6.5

If we try to convert a `str` of words to a `float` or `int` then python will error because this is not possible.

In [17]:
name = "Brandon"

convertName = float(name)

ValueError: ignored

**NOTE:** When an error occurs in Google colab, there will be a button after the error which says `SEARCH STACK OVERFLOW`. Clicking on this button will initiate a Google search for this specific error and only compiling the results from the [Stack Overflow website](https://stackoverflow.com/). Stack overflow is a great website for looking up programming questions for python or other languages; however, as with all online forums, sometimes people can be toxic.

Complex numbers can also be defined in python but are done using `j` instead of the typical `i` used in physics. So for complex numbers in python you have to think like an electrical engineer...

In [18]:
# Define a complex number with both real and complex components
z = 4 + 2j

print(z)
print( type(z) )

(4+2j)
<class 'complex'>

Many people use `j` as a variable in their loops (discussed later) so using `j` in your code as a complex number may hinder readability and cause issues which are hard to debug.

Instead you can define complex numbers with python's `complex()` function, which takes the real part of the number as the first argument and the imaginary part as a second argument. 

**NOTE:** The terminal output of a complex number will always represent the complex component of the value with `j`, no matter how you define the complex number.

In [19]:
# Define a complex number in python using complex()
x = 5
y = 3

# Function calls like so -> complex(REAL_PART, IMAG_PART)
z = complex(x, y)

print(z)
print( type(z) )

(5+3j)
<class 'complex'>

You can find both the real and complex components of a variable individually using built in python methods.

In [20]:
re = z.real
im = z.imag

print("Re[z]: ", re)
print("Im[z]: ", im)

Re[z]:  5.0
Im[z]:  3.0

The built in methods of `real` and `imag` are "[class objects](https://docs.python.org/3/tutorial/classes.html#class-objects)" only accessible for the `complex` data type. Each data type in python is saved as a certain python "class", hence why the output from `type()` is always of the form `<class 'DATA_TYPE'>`.

Class variables are too advanced a topic for this workskhop, and much too advanced for the needs of PHYS660. However, they are necessary to learn if you wish to become a python expert.

Using everything we have learned so far, attempt to find the magnitude of the complex number `z = 20.43 + 5.99j`.

There are many ways to find the answer. None are right or wrong but some methods are more readable and/or efficient than others.

In [ ]:
# Define the complex number
z = complex(20.43, 5.99)

# Now find the amplitude here...


# Print the result to the notebook
print(YOUR_RESULT)

Boolean variables (`bool`) are either `True` or `False` and are typically used for comparison between values/variables in python. Comparison between values/variables in python is done using the following commands...

`>` -> greater than

`<` -> less than

`>=` -> greater than or equal to

`<=` -> less than or equal to

`==` -> equal to

`&`, `and` -> and, used to see if multiple conditions are true

`|`, `or` -> or, used to see if one of multiple conditions is true

In [22]:
5 > 3

True

In [23]:
400 < 6

False

In [24]:
x = 10
y = 12

# See if x and y are equal, will return a boolean answer
x == y

False

In [25]:
# Try multiple condition statements with "and"
(x > 5) and (y < 9)

False

In [26]:
# Try multiple condition statements with "or"
(x > 5) or (y < 9)

True

In python, `True` is mapped to `1` and `False` is mapped to `0`. This allows for math comparison within your programs.

However, some people prefer only using `True` and `False` as this increases the readability for beginners.

In [27]:
True == 1

True

In [28]:
False == 0

True

#**Conditional Statements**

Python uses these boolean data types within conditional statements known as `if` statements. `if` statements will check the condition supplied to them and then execute the susequent indented code if the condition is passed. If the subsequent code is not indented python will raise an error.

In [29]:
x = 45
y = 7

# If the condition is passed then is will execute the print statement
if x > y:
  print("x is greater than y")

x is greater than y

In [30]:
# If the condition is not passed then the indented code will not be executed
if x < y:
  print("This should not print!")

In [31]:
# If the code is not indented then python will error
if x > y:
print("x is greater than y")

IndentationError: ignored

Another conditional keyword is `elif` which is used in tandem with the `if` keyword. `elif` says if the first condition was not true then try another condition. If neither condition is true then nothing will happen.

In [32]:
x = 45
y = 7

# Here the elif statement's code should be executed 
if x == y:
  print("x is equal to y")
elif x > y:
  print("x is greater than y")

x is greater than y

In [33]:
x = 45
y = 7

# Here neither condition statement's code should be executed 
if x == y:
  print("x is equal to y")
elif x < y:
  print("x is less than y")

The final conditional statement is the `else` statement. The `else` is used to catch any conditions which were not met by the previous conditional statements. It can be used in with `if` or with both `if` and `elif`.

In [34]:
x = 45
y = 7

# Here the else statement's code will be executed
if x == y:
  print("x is equal to y")
else:
  print("x is not equal to y")

# Here again the else statement's code will be executed
if x == y:
  print("x is equal to y")
elif x < y:
  print("x is less than y")
else:
  print("x is greater than y")

x is not equal to y
x is greater than y

Conditional statements are very powerful although one must be careful with the order in which the conditions are presented. See the following example...

In [35]:
x1 = 45
y1 = 7

x2 = 100
y2 = 5

# Define a conditional statement w/ multiple conditions
if (x1 > y1) or (x2 > y2):
  print("At least one condition is true")
elif (x1 > y1) and (x2 > y2):
  print("Both conditions are true")
else:
  print("Neither condition is true")

At least one condition is true

Here the first condition of `(x1 > y1) or (x2 > y2)` is `True` and therefore that code is executed. However, since that code is executed, the conditional statement is exited. Hence, the `elif` statement is never reached and that code is never executed even though it also is `True`!

This is a small subtlety with conditional statements that can lead to hard to track errors and bugs.

# **Lists, Tuples, and Dictionaries Oh My!**

Lists, tuples, and dictionaries are all containers used in python to hold sets of data, numbers, variables, strings, etc. All can be used without importing any external libraries.

Lists are single dimension data containers which are dynamic in size and mutable, meaning we can change the list and elements within the list after its initial definition. They are defined with `[]` and have many different class objects which are used to perform operations to the list.

In [ ]:
# Define an empty list
myList = []

print("Empty List: ", myList)

# Add values to the list
myList.append(65)
myList.append("String")
myList.append(3.14)

print("List w/ Values: ", myList)

# Remove last value from the list
myList.pop()

print("List After Last Value Removal: ", myList)

# You can also define lists already containing values
myNewList = [10, 20, 30, 40, 50, 60, 70]

print("List Already Defined w/ Values: ", myNewList)

Empty List:  []
List w/ Values:  [65, 'String', 3.14]
List After Value Removal:  [65, 'String']
List Already Defined w/ Values:  [10, 20, 30, 40, 50, 60, 70]

**NOTE:** As we can see above, lists can contain multiple different data types.

You can also access individual values within the list by indexing the list. Python lists are zero-indexed, meaning that the first value in a python list has index `0`, the second value has index `1`, and so on.

In [ ]:
# Access the first value of myNewList
first = myNewList[0]

print("First value in list: ", first)

# Access the fourth value of myNewList
fourth = myNewList[3]

print("Fourth value in list: ", fourth)

# You can access the final value of a list by using index -1
last = myNewList[-1]

print("Final value in list: ", last)

First value in list:  10
Fourth value in list:  40
Final value in list:  70

You can use python's built in `len()` function to find the length of a list (or tuple, or dictionary, etc.). Although, due to the zero-indexing of python lists, the final accessible index in a list will be `len(MY_LIST) - 1`.

In [ ]:
# Get the length of the list
lengthList = len(myNewList)

print("Length of myNewList: ", lengthList)

print("Final value in myNewList: ", myNewList[lengthList - 1])

Length of myNewList:  7
Final value in myNewList:  70

If you try to index a list past its final index then python will yell at you.

In [ ]:
myNewList[7]

IndexError: ignored

Indexing lists is also extremely important for [list slicing](https://railsware.com/blog/python-for-machine-learning-indexing-and-slicing-for-lists-tuples-strings-and-other-sequential-types/) which we will not cover here but is important when dealing with and editing lists.

The `pop()` class object for python lists can actually remove values from a list based on their index. This is done by supplying the value's index within the parentheses like so `MY_LIST.pop(INDEX_TO_REMOVE)`. This will also return the value which was removed from the list.

In [ ]:
# Remove first item in the list, store as a new variable
removedVal = myNewList.pop(0)

print("Value removed from list: ", removedVal)
print("Updated list: ", myNewList)

Value removed from list:  10
Updated list:  [20, 30, 40, 50, 60, 70]

Tuples are similar to lists in how they are indexed and that multiple data types are allowed in the tuple; however, tuples are immutable. Hence, after its initial definition a tuple can not be changed. Tuples are defined with `()`.

In [ ]:
# Define a tuple
myTuple = (4, True, 22.3, "fruit", 60.0)

# Define a tuple from myNewList
myNewTuple = tuple(myNewList)

print(myTuple)
print(myNewTuple)

(4, True, 22.3, 'fruit', 60.0)
(20, 30, 40, 50, 60, 70)

Since tuples are immutable there's nothing to do with a tuple after it is defined. Tuples can be a little boring although a good use for them is ensuring your data set does not change.

Python dictionaries are data containers consisting of `key:value` pairs where each `key` is mapped to a specific `value`. The `value` can be a single variable, number, or even a list of values just as a few examples.

Dictionaries are defined like so... 

`{key1:values1, key2:values2, ...}`

or

`dict(key1 = values1, key2 = values2, ...)`

In [ ]:
# Define a dicitonary
myDict = {"Name": "Johnny", "YearInProgram": "Third", 
          "Age": 26, "HasAdvisor": True,
          "SpringCourses": ["PHYS660", "PHYS811", "PHYS646"],
          "SpringGrades": [88.7, 91.2, 85.6]
          }

# Print length of the dictionary, this will be total number of key:value pairs
print("Length of myDict: ", len(myDict))

# Print the dicitonary itself
print(myDict)

Length of myDict:  6
{'Name': 'Johnny', 'YearInProgram': 'Third', 'Age': 26, 'HasAdvisor': True, 'SpringCourses': ['PHYS660', 'PHYS811', 'PHYS646'], 'SpringGrades': [88.7, 91.2, 85.6]}

Dictionaries are mutable, meaning they can be changed, although they cannot repeat keys. If a `key` is repeated then it will overwrite the last iteration of that `key`.

In [ ]:
# Define a new dictionary
myNewDict = {"Brand": "Dell",
             "Year": 2021,
             "HasUbuntuOS": True,
             "Year": 2023
             }

print(myNewDict)

{'Brand': 'Dell', 'Year': 2023, 'HasUbuntuOS': True}

You can get the `value` of a `key` by indexing the dicitonary by that specific `key` or using the `get()` class object.

In [ ]:
# Get the value of the "Brand" key 
brand = myNewDict["Brand"]

# Get the value of the "Age" key
year = myNewDict.get("Year")

print(brand, year)

Dell 2023

You can add new `key:value` pairs to the dicitonary after its initial definition.

In [ ]:
# Add key "Laptop" with boolean value True
myNewDict["Laptop"] = True

print(myNewDict)

{'Brand': 'Dell', 'Year': 2023, 'HasUbuntuOS': True, 'Laptop': True}

You can also change the `value` of an already defined `key`.

In [ ]:
# Change value of "Year" to 2015
myNewDict["Year"] = 2015

print(myNewDict)

{'Brand': 'Dell', 'Year': 2015, 'HasUbuntuOS': True, 'Laptop': True}

The keys and values within a dicitonary can also be obtained using the `keys()` and `values()` class objects respectively.

In [ ]:
# Print all keys in myNewDict
print( myNewDict.keys() )

# Print all values in myNewDict
print( myNewDict.values() )

dict_keys(['Brand', 'Year', 'HasUbuntuOS', 'Laptop'])
dict_values(['Dell', 2015, True, True])

**NOTE:** The order of the dicitionary is retained so the first index of `myNewDict.keys()` is paired with the first index of `myNewDict.values()`

You can also return these keys and values as lists so that individual dictionary parts can be accessed outside of the dicitonary class.

In [ ]:
# Print all keys in myNewDict as a list
print( list(myNewDict.keys()) )

# Print all values in myNewDict as a list
print( list(myNewDict.values()) )

['Brand', 'Year', 'HasUbuntuOS', 'Laptop']
['Dell', 2015, True, True]

# NOTES

Then introduce print functions and string manipulation when discussin strings, then conditional statements with the booleans and such.

Discuss lists and list manipulation, along with for loops.

Discuss both user defined and built in functions.

Introduce different packages (numpy, scipy, etc.)

Introduce matplotlib package and plotting

Finish with having the students estimate pi via Monte Carlo methods (i.e. random point in a box, seeing which ones land in a circle and which ones land outside -> see inclasslab_Oct1.ipynb on Google colab, in my personal drive at the moment)

Stress that the major three things in coding are 1. That is works/you get the right answer. 2. Readability (white space and commenting). 3. Efficiency

Still need to look over python notebooks for the PHYS660 notebooks and see if there is anything I should definitely go over...